@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');

html, body{font-family: 'Catamaran', sans-serif;}
a:hover, a:active, a:focus{ text-decoration: none; outline: none;}
input:focus, input:active, textarea:active, textarea:focus, button:active, button:focus, select:active, select:focus{ outline: none; box-shadow: none;}

/*header*/
.upper-head {background: #e68582;}
.search-bar button {height: 45px; width: 45px; padding: 10px;  margin: 0;  background: transparent; border: 0; border-radius: 0; display: inline-block; vertical-align: middle;}
.search-bar input {width: calc(100% - 49px);  height: 45px; border: 0; border-radius: 0;  background: transparent;  border-left: 1px solid #fff; display: inline-block; color: #fff; padding-left: 15px;}
.social-media ul li a, .social-media ul li a img { display: block;}
.social-media {text-align: right;}
.social-media ul li { display: inline-block; padding: 10px;}
.search-bar ::-webkit-input-placeholder {color: #fff;}
.search-bar input ::-moz-placeholder {color: #fff;}
.search-bar :-ms-input-placeholder {color: #fff;}
.search-bar input :-moz-placeholder {color: #fff;}
.custom-header {position: relative; z-index: 9;}
/*menu*/
.menu-area ul li a {display: block; color: #000; text-transform: uppercase; font-size: 14px; position: relative;}
.menu-area ul li {display: inline-block; padding: 18px;}
.mini-cart-area ul li {display: inline-block; padding: 10px; position: relative;}
.mini-cart-area ul li a img {display: block; max-width: 20px;}
.mini-cart-area ul li a {display: block;}
.mini-cart-area ul li a span {position: absolute; color: #e68582; top: 0; font-size: 16px; right: 0;}
.mini-cart-area {text-align: right; position: relative;}
.menu-area > ul {text-align: right;}
.lower-head .row {align-items: center;}
.mini-cart-area:before {content: ''; height: 20px; width: 1px; background: #a0a0a0; position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
.lower-head {padding: 25px 0;}
li.menu-item-has-children:after {content: "\f107"; font-family: 'FontAwesome'; position: absolute; right: 0; top: 16px;}
li.menu-item-has-children{ position: relative;}
.sub-menu li:last-child a {border: 0;}
.sub-menu li a {padding: 13px; border-bottom: 1px solid rgba(0,0,0,0.3); transition: 0.3s ease; color: #fff !important;}
.sub-menu li {background: #e68582; padding: 0 !important;  display: block !important;}
.sub-menu {display: none; position: absolute; left: 0; text-align: left; width: 200px; padding-top: 20px; animation: fadeInUp 0.3s ease;}
.menu-item-has-children:hover .sub-menu{ display: block;}
.menu-area ul li:hover > a:after {width: 100%;}
.menu-area ul li a:after {content: ''; height: 2px; width: 0; background: #e68582; position: absolute; bottom: -5px; left: 0; right: 0; margin: auto; transition: 0.3s ease;}
.sub-menu li a:after{ display: none;}
.mini-cart-area button{ display: none;}
.drop{ display: none;}
/*end*/

/*banner area*/
.caption-area {position: absolute; left: 0; right: 0; top: 50%; transform: translate(0, -50%);}
.caption h2 {font-size: 36px; color: #e68582;}
.caption p {font-size: 23px; margin: 0; line-height: normal;}
.view-collection {display: block; background: #292929; color: #fff; font-size: 20px; max-width: 200px; text-align: center; height: 40px; line-height: 40px; margin-top: 6%; transition: 0.3s ease; border: 1px solid #292929;}
.banner-area .carousel-item img {display: block;}
.caption {background: #fff; padding: 5% 4%; max-width: 550px; animation: fadeInLeft 0.3s ease; display: none; margin-left: 5%;}
.view-collection:hover {background: transparent; color: #000;}
.carousel-item.active .caption {display: block;}
ul.carousel-indicators li:after, ul.carousel-indicators li:before {display: none;}
.carousel-indicators li {height: 10px;width: 10px;border-radius: 100px;margin: 5px 0; background: #aaa; transition: all 0.3s ease}
.carousel-indicators {flex-direction: column;top: 0;bottom: 0;margin: auto;left: 5%; width: 13px; right: inherit; align-items: center;}
.carousel-indicators li.active{ background: #e68582; height: 12px; width: 12px;}
.carousel-control-prev, .carousel-control-next{ opacity: 0; transition: all 0.3s ease}
.carousel-control-prev:hover, .carousel-control-next:hover{ opacity: 1;}
/*end*/

/*featrues area*/
.features {text-align: center; padding: 15px; transition: all 0.3s}
.features:hover {box-shadow: 0 5px 10px rgba(0,0,0,0.15);}
.features h3 {font-size: 24px;color: #000;padding: 10px 0; font-weight: normal;}
.features p {font-size: 14px;color: #666;line-height: 20px;}
.icon-img {max-width: 100px; margin: 0 auto;}
.features-area .row {align-items: flex-start;}
.features-area {padding: 5% 0;}
/*end*/

/*insta shop area*/
.shop-insta-area {padding: 0 0 50px;}
.insta-caption {position: absolute; height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; background: rgba(0,0,0,0.75); bottom: -100%; transition: all 0.3s ease;}
.shop-btn:hover {color: #fff; background: transparent; font-weight: 400;}
.shop-btn {background: #fff; display: block; width: 100px; text-align: center; height: 40px; line-height: 40px; color: #000;  text-transform: uppercase;  font-size: 18px; font-weight: 500; margin-top: 15px; transition: all 0.3s ease; border: 1px solid #fff;}
.insta-photos > img { display: block;}
.insta-photos {max-height: 300px; overflow: hidden; margin-bottom: 30px; position: relative;}
.insta-photos:hover .insta-caption {bottom: 0;}
.heading-area p {font-size: 18px;line-height: normal;color: #676767;}
.heading-area h4 {font-size: 36px;color: #e68582;}
.heading-area {text-align: center;padding-bottom: 4%;}
.load-more-btn {flex: 0 0 100%;}
.load-more-btn a {display: block;background: #000;font-size: 24px;text-transform: uppercase;color: #fff;height: 50px;line-height: 52px;max-width: 280px;text-align: center;margin: 0 auto; transition: all 0.3s ease; border:1px solid #000;}
.load-more-btn a:hover{ background: transparent; color: #000;}
/*end*/


/*subscribe area*/
.subscribe-area img {display: block; width: 100%;}
.subscribe-area {position: relative;}
.subscribe-area .container {position: absolute; display: flex; flex-direction: column; align-items: center;  justify-content: center; height: 100%; width: 100%; left: 0; right: 0;}
.subscribe-area h3 span {font-weight: 500;}
.subscribe-area h3 {font-size: 30px; color: #000; font-weight: 200;}
.subscribe-form input[type="submit"] {max-width: 200px;padding: 0;font-size: 24px;color: #fff;font-weight: normal;background: #000;border: 0;}
.subscribe-form input {width: calc(100% - 200px);display: block;height: 50px;border-radius: 0;padding-left: 20px;border: 0;float: left;}
.subscribe-form {position: relative;width: 100%;max-width: 72%;padding: 30px 0;}
.subscribe-form input[type="submit"]:hover, .subscribe-form input[type="submit"]:active, .subscribe-form input[type="submit"]:focus{ background: #e68582; box-shadow: none; background-image: none; outline: none;}

/*end*/

/*footer area*/
.footer-links h3 {font-size: 24px; color: #000; padding: 30px 0;}
.footer-links ul li a {display: block;color: #222;font-size: 16px; transition: 0.3s ease}
.footer-links ul li a:hover {color: #e58582;}
.footer-links ul li {display: block;line-height: 30px;}
.search-area input[type="submit"] {background: #000;border: 0;color: #fff;font-size: 18px;text-transform: uppercase; transition: all 0.3s ease}
.search-area input[type="submit"]:hover, .search-area input[type="submit"]:active, .search-area input[type="submit"]:focus{ box-shadow: none; background: #e58582;}
.search-area input {width: 100%;border-radius: 0;height: 45px;border: 0;}
.custom-footer {background: #f5f5f5;}
.social-meida {text-align: left;}
.social-meida ul li a img {max-width: 20px;}
.social-meida ul li a { display: block;}
.social-meida ul li {display: inline-block;vertical-align: middle;padding: 0 20px 0 0;}
.garment-collection h4 {line-height: normal;font-size: 18px;}
.garment-collection {background: #e58582;padding: 10px;color: #fff;line-height: normal;margin-top: 60px;}
.footer-links.colums-3 ul {column-count: 3;}
.custom-footer .col-lg-3 { border-color: #000;  border-style: solid; border-width: 0 1px 0 1px;}
.custom-footer .col-lg-3:first-child { border-color: #000;  border-style: solid; border-width: 0;}
.footer-links.social-area {margin: 0 -15px;padding: 15px;border-top: 1px solid #000;}
.footer-links {padding: 20px 0 30px;}
.copy-rights-aera p {margin: 0;}
.quick-links {text-align: right;}
.quick-links ul li a {color: #222;}
.copy-rights-aera {padding: 20px 0;border-top: 1px solid #000;}
/*end*/


/*inner header*/
.inner-header {border-bottom: 1px solid #ccc;}
/*end*/

/*how it works*/
.features-area.border .row {align-items: unset;}
.features-area.border .col {border-right: 1px solid #999;}
.features-area.border {border: 0 !important;}
.how-it-works {padding-bottom: 50px;}
.how-it-works p {font-size: 18px;margin-bottom: 8px;color: #666;line-height: 25px;font-weight: 300;}
.how-it-works h4 {font-size: 20px; margin: 10px 0; color: #222;}
.how-it-works p strong {color: #555;font-weight: 600;}
.how-it-works p a {color: #666;text-decoration: underline;}
.features-area.border .col:last-child{ border: 0;}
/*end*/

/*booking-area*/
.booking-enquiry-area {padding: 50px 0;}
.note-area p {text-align: center;color: #e68582;font-size: 20px;padding-bottom: 15px;}
.note-area {max-width: 750px;margin: 0 auto;padding: 20px;border: 1px solid #e68582;}
.note-area ul li:before {content: '';height: 12px;width: 12px;background: #e68582;position: absolute;left: 0;border-radius: 100px;top: 5px;}
.note-area ul li {font-size: 16px;line-height: 24px;margin: 10px 0;color: #222;font-weight: 500;position: relative;padding-left: 25px;}
.note-area ul {list-style: none;padding: 0;margin: 0;}
/*form*/
.red {color: #e68582;}
.form-field label {position: absolute;bottom: 5px;left: 0; transition: 0.3s ease;}
.form-field input, .form-field select {width: 100%;display: block;border-radius: 0;height: 40px;border-style: solid;border-color: #ccc;border-width: 0 0 1px 0;}
.form-field {position: relative; z-index: 0; margin-top:20px;}
.field-icon {position: absolute;bottom: 5px;right: 0;color: #999;}
.form-field input, .form-field select {position: relative;z-index: 1;background: transparent; -webkit-appearance: none; appearance: none;}
label.up {bottom: 35px;font-size: 10px;color: #e68582;}
.about-dress h3 {margin: 30px 0;font-size: 24px;color: #000;font-weight: 400;}
.find-link {padding: 25px;}
.find-link p a { color: #e68582; font-size: 14px; text-decoration: underline;}
.find-link p {line-height: normal; font-size: 16px;}
.about-dress {padding: 0 0 50px;}
.about-dress.event h3 {margin: 0;}
.pickuo-area p {line-height: 17px;font-size: 16px;color: #666;margin-bottom: 10px;}
.pickuo-area ul li label:before {content: '';height: 8px;width: 8px;background: #e68582;border-radius: 100px;position: absolute;left: 2px;z-index: 1;top: 2px;display: none;}
.pickuo-area ul li label {margin: 0;vertical-align: middle;padding-left: 3px;}
.pickuo-area ul li label:after {content: '';height: 14px;width: 14px;position: absolute;background: #fff;left: -1px;top: -1px;border-radius: 100px;border: 1px solid #e68582;}
.pickuo-area ul li input {position: relative;z-index: 3;opacity: 0;margin: 0;}
.pickuo-area ul li {display: inline-block;padding: 0 20px 0 0;position: relative;vertical-align: middle;}
.pickuo-area ul li input:checked + label:before {display: block;}
.pickuo-area h5 {margin: 10px 0;font-size: 18px;}
.pickuo-area p strong {display: block;margin: 20px 0;}
.pickuo-area {padding: 15px 0 0;}
ul.display li {display: block;margin: 10px 0;}
.display li label:after{ border-color: #aaa !important}
.send-enquery-btn input {background: #000;border: 0;border-radius: 0;height: 40px;width: 200px;color: #fff;font-size: 18px;line-height: 40px;padding: 0;display: block;margin: 0 auto; transition: 0.3s ease;}
.send-enquery-btn input:hover, .send-enquery-btn input:active, .send-enquery-btn input:focus{ background: #e68582; color: #fff;}
.form-content p {font-size: 16px;line-height: normal;margin: 0;}
.form-content {padding: 50px 0;}
/*end*/

/*collection area*/
.filters h4 {line-height: 45px;padding-left: 15px;color: #777;font-weight: 400;}
.filters input, .filters select {width: 100%;height: 43px;border: 0;border-radius: 0;display: block;-webkit-appearance: none;padding: 0 0 0 15px;color: #777;}
.filters {height: 45px;width: 100%;border: 1px solid #e5e5e5;line-height: 45px;overflow: hidden;margin-bottom: 35px; position: relative;}
.filters input[type="submit"] {position: absolute;width: 90px;right: 0;bottom: 0;background: #000;border: 0;color: #fff;font-size: 16px;padding: 0;}
.collection-area {padding: 50px 0;}
.sorting-list ul li i {position: absolute;right: 0;top: 12px;font-size: 18px;}
.sorting-list ul li a {display: block;color: #000;font-weight: 500;height: 45px;line-height: 45px;border-bottom: 1px solid #999;}
.sorting-list ul li {display: block;position: relative;}
#date1 {background: url(../images/icons/calendar.png) no-repeat;background-size: 20px;background-position: 95%;}
.product-img {position: relative; max-height: 315px; overflow: hidden;}
.overlay a {display: block;color: #fff;font-size: 24px;height: 27px;width: 30px;margin: 0 auto;position: relative;top: 50%;transform: translate(0, -50%);opacity: 1;}
.overlay {position: absolute;height: 100%;width: 100%;text-align: center;background: linear-gradient(rgba(230, 133, 130, 0.7), rgba(183, 183, 183, 0.7));left: 0;top: 0; display: none; animation: zoomInUp 0.5s ease;}
.product-img:hover .overlay{display: block}
.product-img img {width: 100%;display: block;}
.product-detail {padding: 15px 0;}
.product-detail h5 {color: #000;min-height: 32px;}
.product-detail h5 a {display: block;color: #000;}
.product-detail ul {padding: 10px 0;}
.product-detail ul:after {content: '';display: block;clear: both;}
.product-detail ul li:last-child a {color: #999;}
.product-detail ul li del {color: #999;}
.product-detail ul li:last-child {float: right;}
.product-detail ul li span {padding: 0 10px 0 0;color: #000;}
.product-detail ul li {display: inline-block;font-size: 18px;}
.collection-products {margin: 10px 0;}
/*end*/

/*single product page*/
.product-view-section:after {content: '';display: block;clear: both;}
.product-tubmb-area {width: 150px;float: left; max-height: 400px;overflow-x: hidden;overflow-y: scroll;}
.product-large-view-area {width: calc(100% - 150px);float: left; padding-left: 15px;}
.product-tubmb-area ul li {margin: 10px 0;}
.product-tubmb-area ul li a img, .product-large-view-area .tab-content li a img {display: block;}
.product-tubmb-area ul li a, .product-large-view-area .tab-content li a {display: block;border: 5px solid #FFF;}
.product-view-area{ background: #f5f5f5;}
.breadcrumbs-area p a {display: inline-block;padding: 0 5px;color: #000;}
.breadcrumbs-area {padding: 30px 0;}
.breadcrumbs-area p {margin: 0;color: #000;}
.product-title .addto-wislist-icon a {font-size: 18px;color: #999;}
.product-title .addto-wislist-icon {position: absolute;right: 10px;top: 0;}
.product-title h1 {font-size: 16px;color: #000;}
.designer-name p, .designer-name p a  {font-size: 12px;color: #000;margin: 0;}
.designer-name {padding: 10px 0;}
.accordian-heading {border-style: solid;border-color: #ccc;border-width: 1px 0 0 0;}
.accordian-heading a {color: #000;display: block;padding: 11px 0;line-height: normal; position: relative;}
.accordian-heading a:after {content: '\f107';font-family: 'FontAwesome';float: right;font-size: 18px; transition: 0.3s ease; transform: rotate(180deg);}
.accordian-heading a.collapsed:after {transform: rotate(0);}
.quantity-area a {display: inline-block;height: 40px;width: 40px;text-align: center;background: #fff;line-height: 40px;border: 1px solid #ccc;color: #333;vertical-align: middle;}
.quantity-area input {height: 40px;width: 50px;text-align: center;border-radius: 0;vertical-align: middle;margin: 0 -4px;}
.size-area ul li span {display: block;height: 40px;width: 40px;background: #fff;text-align: center;line-height: 40px;border: 1px solid #ccc;}
.size-area ul li {display: inline-block;padding: 0 8px 0 0;}
.color-area ul li span {display: block;height: 40px;width: 40px; border: 1px solid #ccc; background-size: cover;}
.color-area ul li {display: inline-block;padding: 0 8px 0 0;}
.size-guid a {color: #666;}
.size-guid span {display: inline-block;vertical-align: middle;}
.size-area p, .color-area p, .quantity-area p, .hire-information-area p {font-size: 16px;color: #000;padding: 15px 0;font-weight: 500;}
.hire-information-area .filters {margin: 0;background: #fff;max-width: 230px;}
.size-guid {padding: 20px 0 10px;}
.quantity-area {padding: 15px 0;}
.price-area {padding: 30px 0;}
.price-area p {font-size: 24px;color: #000;}
.hiring-content h5 {font-size: 15px;padding: 10px 0;}
.hiring-content p a {color: #000;text-decoration: underline;}
.hiring-content p span {color: #000;font-weight: 500;}
.hiring-content p {line-height: normal;}
.hiring-content {padding: 20px 0;}
.pascode-area .filters {max-width: 230px; margin: 0;}
.add-to-cart-btn-area button {height: 45px;width: 100%;margin: 0 10px 0 0;border-radius: 0;background: #000;border: 0;color: #fff;text-transform: uppercase;font-size: 16px;max-width: 200px; transition: 0.3s ease;}
.add-to-cart-btn-area button:hover{ background: #e68582}
.add-to-cart-btn-area {padding: 30px 0;}
.product-social-share ul li a {display: block;color: #000;font-size: 16px;transition: 0.3s ease;}
.product-social-share ul li {display: inline-block;padding: 10px 15px 12px 0;}
.product-social-share ul li a:hover{color: #e68582}
.product-view-area {padding: 40px 0;}
.someone-else-area p i {padding-right: 5px;}
.someone-else-area p {background: #e68582;color: #fff;font-size: 16px;text-align: center;display: inline-block;padding: 15px;}
.someone-else-area {position: absolute;bottom: 0;left: 0; animation: fadeInUp 0.3s ease;}
.related-product-slider .collection-products {padding: 0 10px;}
.related-product-slider .collection-products .product-img {border: 1px solid #ccc;}
.related-product-slider button {height: 50px;width: 50px;font-size: 0;background: #fff;border-radius: 100px; position: absolute;top: 30%;margin: auto; border: 0; z-index: 1;}
.related-product-slider button:after {content: '\f105';font-family: 'FontAwesome';font-size: 30px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;height: 33px;text-align: center;}
.related-product-slider button.slick-next{right: 15px;}
.related-product-slider button.slick-prev{left: 15px; transform: rotate(180deg);}
.you-might-also-products {padding: 60px 0;}
/*end*/

/*cart area*/
.product-cart-detail .quantity-area {padding: 0;}
.price-area small {display: block;margin-top: 10px;font-size: 14px;}
.remove-cart-item a {color: #000;font-weight: 500;font-size: 16px;}
.remove-cart-item{ padding: 20px 0;}
.checkout-btn input:hover, .checkout-btn a:hover {background: transparent;color: #000;}
.checkout-btn input, .checkout-btn a {width: 100%;height: 40px;background: #000;font-size: 16px;color: #fff;padding: 0;border: 1px solid #000;transition: 0.3s ease;border-radius: 0;line-height: 40px; display: block; text-align: center;}
.checkout-btn {margin: 30px 0;}
.product-cart-detail .price-area {padding: 20px 0;}
.cart-login-form input {border: 1px solid #e5e5e5;height: 45px;padding-left: 15px;}
.cart-login-form input[type="submit"]:hover {background: #e68582;}
.cart-login-form input[type="submit"] {background: #000;color: #fff;font-size: 16px;text-transform: uppercase;padding: 0;line-height: 45px;transition: 0.3s ease;}
.social-login a i {padding-right: 10px; color: #3d5999;}
.social-login a {display: block;height: 45px;line-height: 45px;text-align: center;border: 1px solid #e5e5e5;color: #000;font-weight: 500;font-size: 16px; transition: 0.3s ease}
.social-login a:hover i {color: #fff;}
.social-login a:hover {background: #3d5999;color: #fff;}
.social-login {padding: 15px 0;}
.creat-account-btn a:hover {border-color: #e68582;background: transparent;color: #e68582;}
.creat-account-btn a {background: #000;height: 45px;display: block;text-align: center;line-height: 45px;color: #fff;font-size: 16px;border: 1px solid #000;transition: 0.3s ease;}
.creat-account-btn {padding: 30px;border-top: 1px solid #999;margin-top: 15px;}
.cart-login-area {border-left: 1px solid #999;}
.cart-login-form {padding: 0 30px;}
.cart-area {padding: 50px 0;}
/*end*/

/*create account area*/
.form-field small { position: absolute; font-size: 11px; bottom: -15px;}
.create-account-btn {padding: 50px 0;}
.create-account-btn input {width: 100%;height: 45px;line-height: 45px;padding: 0;background: #000;border: 1px solid #000;color: #fff;font-size: 16px;border-radius: 0;}
.field-icon {position: absolute;bottom: 5px;right: 0;color: #666;}
.create-account-form h3 {font-size: 18px;color: #222;}
.create-account-cart-detail {border: 1px solid #999;padding: 15px;}
.create-account-form {padding: 0 30px;}
.create-account-form-area {border-left: 1px solid #999;}
.field-icon b {font-weight: 500;}
.create-account-area {padding: 50px 0;}
/*end*/
/*checkout 1*/
.payment-detail-table table tr td {padding: 10px; font-size: 16px; color: #000;}
.payment-detail-table table tr td:last-child {width: 100px;text-align: right;}
.payment-detail-table table tr td:first-child {width: calc(100% - 100px);}
.payment-detail-table table {width: 100%;}
.payment-detail-table table tr:nth-last-child(2) td, .payment-detail-table table tr:last-child td {padding: 20px 10px;font-size: 22px;color: #000;}
.payment-detail-table table tr:nth-last-child(2), .payment-detail-table table tr:last-child {border-top: 1px solid #999;}
.payment-detail-table table tr:last-child {border-bottom: 1px solid #999;}
.payment-detail-table {padding: 15px 0;}
.shipping-information h4 {color: #000;font-size: 14px;}
.shipping-information h3 {color: #000;font-size: 18px;padding-bottom: 20px;text-transform: uppercase;}
.extra-customer-information h4 {font-size: 14px;}
.extra-customer-information {padding: 30px 0;}
.extra-customer-information ul li span {width: calc(100% - 72px);display: inline-block;}
.custom-radio-area{ width: 68px; display: inline-block;}
.extra-customer-information ul li select {width: 68px;border-radius: 0;display: inline-block;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/icons/dropdown.png) no-repeat;background-size: 13px;background-position: 95%;height: 35px;}
.custom-radio input:checked + label {background: #e68582;color: #fff;display: block;border: 0;height: 100%;}
.custom-radio input {position: absolute;z-index: 3;height: 100%;width: 100%;left: 0;background: transparent;border: 0;opacity: 0;}
.custom-radio {height: 35px;width: 35px;display: inline-block;border: 1px solid #ccc;text-align: center;line-height: 40px;position: relative;z-index: 0;margin: 0 -2px;}
.extra-customer-information ul li {padding: 5px 0;}
.speacial-requirment h4 {margin-bottom: 10px;font-size: 14px;color: #000;}
.speacial-requirment textarea {width: 100%;height: 100px;border-radius: 0;}
.select-payment-method-area h4 {font-size: 14px;color: #000;padding: 10px 0;}
.select-payment-method-area {padding: 30px 0;}
.select-payment-method-area table tr td img {width: 100px;}
.select-payment-method-area table tr td {padding: 5px 0;color: #000;}
.select-payment-method-area table tr td:last-child {text-align: right;}
.select-payment-method-area table {width: 100%;}
.radio label:before {position: absolute;content: '';height: 11px;width: 11px;background: #e68582;border-radius: 100px;right: 9px;top: 4px; display: none;}
.radio label:after {content: '';height: 19px;width: 19px;border: 1px solid #e68582;position: absolute;right: 5px;top: 0;border-radius: 100px;}
.radio {position: relative;}
.radio input {position: relative;z-index: 3;height: 20px;width: 20px;opacity: 0;}
.radio input:checked + label:before{ display: block;}
.make-payment-btn input:hover {background: #fff;color: #000;}
.make-payment-btn input {width: 100%;background: #000;border-radius: 0;color: #fff;font-size: 16px;height: 40px;padding: 0;line-height: 16px;transition: 0.3s ease;border: 1px solid #000;}
.make-payment-btn {padding: 10px 0;}
.shipping-information-area {border-left: 1px solid #999;}
.shipping-information {padding: 0 0px 0px 30px;}
/*end*/

/*checkout 2*/
.cart-heading h4 {font-size: 18px;color: #000;}
.cart-heading {text-align: center;padding: 20px 0;border-style: solid;border-color: #000;border-width: 1px 0;margin: 0 -15px;}
.bag-item-area p {font-size: 14px;color: #000;font-weight: 500;padding: 10px 0;}
.action-btn a {display: block;margin: 10px 0;color: #000;font-weight: 500;font-size: 14px;}
.size-and-number select {width: 100%;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/icons/dropdown.png) no-repeat;background-size: 13px;background-position: 95%;height: 40px;border-radius: 0;padding-left: 10px;}/*end*/
.bag-item-details h5 {font-size: 18px;font-weight: 400;color: #000;}
.item-price {padding: 10px 0;}
.item-price p {font-size: 26px;}
.delivered-area p {font-size: 14px;padding: 10px 0;color: #000;font-weight: 500;}
.deliver-links ul li a {color: #000;text-transform: uppercase;font-size: 16px;font-weight: 400; padding: 17px 0; display: block;}
.deliver-links ul:after {content: '';display: block;clear: both;}
.deliver-links ul li {width: calc(100%/3);float: left;padding: 0;text-align: center;border: 1px solid #ccc;border-right: 0; position: relative;}
.deliver-links ul li:last-child {border-right: 1px solid #ccc;}
.deliver-links ul li a:after {content: '';position: absolute;width: 0;height: 5px;background: #e98782;bottom: -1px;left: 0;right: 0;margin: auto;transition: 0.3s ease;}
.deliver-links ul li a.active:after{ width: 100%;}
.form-fields label {display: block;color: #000;padding: 15px 0 5px;font-weight: 600;font-size: 14px;}
.form-fields {position: relative; margin: 10px 0;}
.form-fields span.icon {position: absolute;right: 10px;bottom: 15px;}
.form-fields input {width: 100%;border-radius: 0;height: 45px;padding-left: 10px;}
.payment-area p {padding: 10px 0;color: #000;font-weight: 500;}
.deliver-links ul li a img {max-height: 22px;}
.payment-by-area .deliver-links ul li a {padding: 12px 0;}
.payment-area,.delivered-area, .bag-item-area {padding:20px;}
.remeber-area input, .remeber-area label {display: inline-block;margin: 0 !important;vertical-align: middle;line-height: normal;}
.delivery-fees-list .radio {width: 20px;height: 20px;position: relative; float: left;}
.delivery-fees-list .radio label:after {right: 0;}
.delivery-fees-list .radio label:before {right: 4px;}
.fees {width: 100px;float: left;text-align: right;}
.delivery-fees-detail {width: calc(100% - 120px);float: left;padding-left: 10px;}
.delivery-fees-list {border: 1px solid #ccc;padding: 20px 10px; border-bottom: 0;}
.delivery-fees-list:after {content: '';clear: both;display: block;}
.delivery-fees-list:last-child{ border-bottom: 1px solid #ccc;}
.delivery-fees-detail small {margin-top: 6px;display: block;}
.delivery-fees p {color: #000;font-weight: 500;font-size: 14px;}
.save-address-btn input:hover {background: #fff;color: #000;}
.save-address-btn {padding: 20px 0;}
.save-address-btn input {width: 100%;height: 45px;background: #000;border: 1px solid #000;color: #fff;font-size: 16px;text-transform: uppercase;border-radius: 0;transition: 0.3s ease;}
.no-one select {width: 100%;border-radius: 0;height: 45px;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/icons/dropdown.png) no-repeat;background-size: 13px;background-position: 97%;padding-left: 15px;}
.no-one {padding: 10px 0;}
.apply-code-area input[type="submit"]:hover {background: transparent;color: #000;}
.apply-code-area input {width: calc(100% - 105px);height: 40px;border-radius: 0;vertical-align: middle;}
.apply-code-area input[type="submit"] {width: 100px;height: 40px;border-radius: 0;border-color: #000;background: #000;color: #fff;font-size: 16px;line-height: 40px;padding: 0;transition: 0.3s ease;}
.your-order-area table tr td:first-child {font-weight: 600;}
.your-order-area table tr td:last-child {text-align: right;}
.your-order-area table tr td {padding: 10px 0;color: #000;font-size: 14px;}
.your-order-area table {width: 100%;}
.your-order-area p {text-align: center;padding: 20px 0;display: block;}
.your-order-area {padding: 10px 15px 0;border: 1px solid #ccc;margin: 15px 0;}
.placeoder-btn p {color: #fff;text-align: center;padding: 0;font-size: 14px;font-weight: 400;}
.placeoder-btn {background: #000;color: #fff;padding: 10px 0;}
.placeoder-btn input {width: 100%;text-align: center;color: #fff;background: #000;border: 0;padding: 0;}
.terms-link p {line-height: normal;text-align: center;font-weight: 500;}
.terms-link p a {display: block;color: #e68582;font-weight: 400;}
/*end*/

/*faq*/

.faq-accordian .card-header a {font-size: 14px;color: #000;padding: 13px 50px 13px 15px;display: block;position: relative;border: 1px solid #ccc;border-bottom: 0; font-weight: 600;}
.faq-accordian .card:last-child .card-header a {border-bottom: 1px solid #ccc;}
.faq-accordian .card-header {padding: 0;border: 0;background: transparent;}
.faq-accordian .card {border: 0;}
.faq-accordian .card-body {background: #f1f1f1;line-height: normal;font-size: 14px;letter-spacing: 0.3px;border-style: solid;border-color: #ccc;border-width: 1px 1px 0 1px;}
.faq-accordian .card:last-child .card-body{border-width: 0 1px 1px 1px;}
.faq-accordian .card-header a.collapsed:after {height: 104%;width: 42px;background: #000;content: "\f067";font-family: 'FontAwesome';position: absolute;right: -1px;top: -1px;color: #fff;text-align: center;line-height: 40px;font-weight: 400;}
.faq-accordian .card-header a:after{content: "\f068";height: 104%;width: 42px;background: #e68582; font-family: 'FontAwesome';position: absolute;right: -1px;top: -1px;color: #fff;text-align: center;line-height: 40px;font-weight: 400;}
/*end*/


/*media*/

@media(max-width:1199px){
    .menu-area ul li {display: inline-block; padding: 15px;}
    .insta-photos {max-height: 260px;}
    .subscribe-area h3 {font-size: 25px;}
    .product-img {max-height: 262px;}
    .cart-login-form {padding: 0 15px;}
    .creat-account-btn {padding: 20px 15px;margin-top: 5px;}
    .payment-area, .delivered-area, .bag-item-area {padding: 20px 0;}
}

@media(max-width:991px){
    .menu-area > ul {text-align: left;}
    .menu-area ul li {display: block; padding: 0;}
    .menu-area ul li a {display: block; border-bottom: 1px solid #292929; padding: 15px;}
    .menu-area ul li:last-child a {border: 0;}
    .menu-area ul li a:after{ bottom: -1px}
    .sub-menu {position: static;width: 100%;padding-top: 0;}
    li.menu-item-has-children:after {content: "\f107";font-family: 'FontAwesome';position: absolute;right: 0;z-index: 2;background: #292929;width: 40px;top: 0;color: #fff;text-align: center;line-height: 45px; display: none;}
    .mini-cart-area ul {display: inline-block; vertical-align: middle;}
    .mini-cart-area button {padding: 0; margin: 0;background: transparent;border: 0;font-size: 24px;vertical-align: middle; display: inline-block;}
    .insta-photos {max-height: 400px;}
    .subscribe-form input {width: calc(100% - 150px);}
    .subscribe-form input[type="submit"] {max-width: 150px;font-size: 20px;}
    .custom-footer .col-lg-3 {border-width: 0 1px 1px 1px;}
    .custom-footer .col-lg-3:first-child {border-width: 0 0px 1px 1px;}
    .menu-area {display: none;}
    .sub-menu{ display: block;}
    .features-area .col {flex: 0 0 33%;-webkit-flex: 0 0 33%;}
    .drop { display: block; height: 45px;width: 40px;position: absolute;background: #292929;text-align: center;color: #fff;line-height: 40px;top: 0;right: 0px;z-index: 1; cursor: pointer;}
    .features-area.border .col:last-child {border-right: 1px solid #999;}
    .features-area.border .col:nth-child(3){border: 0;}
    .filters{ margin-bottom: 15px;}
    .product-view-section {padding-bottom: 100px;}
    .someone-else-area {bottom: 20px;right: 0;margin: auto;text-align: center;}
    .cart-login-area {border: 1px solid #999;}
    .create-account-form-area {border: 1px solid #999;padding: 15px 0;border-top: 0;}
    .create-account-form {padding: 0 15px;}
    .create-account-btn {padding: 20px 0;}
    .shipping-information-area {border: 1px solid #999;}
    .shipping-information{ padding: 15px;}
    
}

@media(max-width:767px){
    
    .features-area .col {-ms-flex: 0 0 50%;flex: 0 0 50%;}
    .insta-photos {max-height: 300px;}
    .subscribe-area h3 span {display: block;}
    .subscribe-area h3 {text-align: center;}
    .subscribe-form input{ height: 40px; width: calc(100% - 110px)}
    .subscribe-form input[type="submit"] {max-width: 110px; font-size: 16px;}
    .custom-footer .col-lg-3:first-child {border-width: 0px 1px 1px 1px;}
    .quick-links {text-align: center;padding: 10px 0 0;}
    .copy-rights-aera p {text-align: center;}
    .features-area.border .col:last-child, .features-area.border .col:nth-child(3) {border-right: 1px solid #999;}
    .features-area.border .col:nth-child(2), .features-area.border .col:nth-child(4){border-right: 0;}
    .find-link {padding: 25px 0;}
    .booking-enquiry-area {padding: 30px 0 0;}
    .product-img {max-height: unset;}
    .filters{ margin: 5px 0;}
    .sorting-area {margin-bottom: 20px;}
    .product-tubmb-area {width: 100px;}
    .product-large-view-area {width: calc(100% - 100px);}
    .cart-product-img {padding: 10px 0;}
    .checkout-btn {margin: 10px 0;}

}

@media(max-width:600px){
    .caption h2 {font-size: 28px;}
    .caption p {font-size: 20px; line-height: 24px;}
    .view-collection{ margin-top: 4%; font-size: 18px; width: 180px;}
    .caption {background: rgba(255,255,255,0.8); max-width: 400px;}
}

@media (max-width:574px){
    .carousel-indicators{ left: 5px;}
    .insta-photos {max-height: unset;}
    .insta-photos > img {width: 100%;}
    .subscribe-form {max-width: 100%;padding: 10px 0;}
    .subscribe-area h3 { font-size: 20px;}
    .footer-links.colums-3 ul {column-count: 2;}
    .features-area.border .col{ border: 0;}
    .how-it-works p {font-size: 16px;line-height: 24px;}
    .heading-area h4 {font-size: 30px;}

}

@media(max-width:460px){
    .caption {padding: 10px; max-width: 320px;}
    .caption h2 {font-size: 24px;}
    .caption p {font-size: 16px; line-height: 22px;}
    .view-collection {margin-top: 10px;font-size: 16px;width: 150px;}
    .features-area .col {-ms-flex: 0 0 100%;flex: 0 0 100%;}
    .add-to-cart-btn-area button{ width: 170px;}
}

@media (max-width:400px){
    .mini-cart-area ul li {padding: 10px 5px;}
    .caption h2 {font-size: 20px;}
    .caption p {font-size: 14px;line-height: 20px;}
    .view-collection {margin-top: 10px;font-size: 14px;width: 140px;height: 35px;line-height: 35px;}
    .subscribe-form input {height: 30px;width: calc(100% - 100px); padding-left: 10px;}
    .subscribe-form input[type="submit"] {max-width: 100px;font-size: 14px;}
    .subscribe-form {padding: 10px 0 0;}
    .subscribe-area h3 {font-size: 18px;}
    .caption {max-width: 270px;margin: 0 auto;}
    .form-field label{ font-size: 12px;}
    label.up {font-size: 10px;}
    .add-to-cart-btn-area button {margin: 0 5px 0 0;font-size: 14px;max-width: 135px;transition: 0.3s ease;}
    .color-area ul li, .size-area ul li {padding: 0 5px 0 0;}
    .heading-area h4 {font-size: 24px;}
    .product-large-view-area {width: 100%;padding: 0;}
    .product-tubmb-area {width: 100%;}
    .product-tubmb-area ul li a{ max-height: 100px; overflow: hidden;}
    .heading-area h4 {font-size: 25px;}
    .product-tubmb-area button {height: 30px;width: 30px;font-size: 0;background: #fff;border-radius: 100px; position: absolute;top: 0;margin: auto; bottom: 0; border: 0; z-index: 1;}
    .product-tubmb-area button:after {content: '\f105';font-family: 'FontAwesome';font-size: 20px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;height: 23px;text-align: center;}
    .product-tubmb-area button.slick-next{right: 15px;}
    .product-tubmb-area button.slick-prev{left: 15px; transform: rotate(180deg);}
    .tab-content.slick-initialized.slick-slider .fade {opacity: 1;}
    .form-field small{ font-size: 10px;}

}

@media (max-width:360px){
    .subscribe-area h3 {font-size: 14px;}
    .footer-links.colums-3 ul {column-count: 1;}
    .form-field small {font-size: 8px;}
}
/*end*/