@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');

html, body{font-family: 'Catamaran', sans-serif;}
a:hover, a:active, a:focus{ text-decoration: none; outline: none;}
input:focus, input:active, textarea:active, textarea:focus, button:active, button:focus{ outline: none; box-shadow: none;}

/*header*/
.upper-head {background: #e68582;}
.search-bar button {height: 45px; width: 45px; padding: 10px;  margin: 0;  background: transparent; border: 0; border-radius: 0; display: inline-block; vertical-align: middle;}
.search-bar input {width: calc(100% - 49px);  height: 45px; border: 0; border-radius: 0;  background: transparent;  border-left: 1px solid #fff; display: inline-block; color: #fff; padding-left: 15px;}
.social-media ul li a, .social-media ul li a img { display: block;}
.social-media {text-align: right;}
.social-media ul li { display: inline-block; padding: 10px;}
.search-bar ::-webkit-input-placeholder {color: #fff;}
.search-bar input ::-moz-placeholder {color: #fff;}
.search-bar :-ms-input-placeholder {color: #fff;}
.search-bar input :-moz-placeholder {color: #fff;}
.custom-header {position: relative; z-index: 9;}
/*menu*/
.menu-area ul li a {display: block; color: #000; text-transform: uppercase; font-size: 14px; position: relative;}
.menu-area ul li {display: inline-block; padding: 18px;}
.mini-cart-area ul li {display: inline-block; padding: 10px; position: relative;}
.mini-cart-area ul li a img {display: block; max-width: 20px;}
.mini-cart-area ul li a {display: block;}
.mini-cart-area ul li a span {position: absolute; color: #e68582; top: 0; font-size: 16px; right: 0;}
.mini-cart-area {text-align: right; position: relative;}
.menu-area > ul {text-align: right;}
.lower-head .row {align-items: center;}
.mini-cart-area:before {content: ''; height: 20px; width: 1px; background: #a0a0a0; position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
.lower-head {padding: 25px 0;}
li.menu-item-has-children:after {content: "\f107"; font-family: 'FontAwesome'; position: absolute; right: 0; top: 16px;}
li.menu-item-has-children{ position: relative;}
.sub-menu li:last-child a {border: 0;}
.sub-menu li a {padding: 13px; border-bottom: 1px solid rgba(0,0,0,0.3); transition: 0.3s ease; color: #fff !important;}
.sub-menu li {background: #e68582; padding: 0 !important;  display: block !important;}
.sub-menu {display: none; position: absolute; left: 0; text-align: left; width: 200px; padding-top: 20px; animation: fadeInUp 0.3s ease;}
.menu-item-has-children:hover .sub-menu{ display: block;}
.menu-area ul li:hover > a:after {width: 100%;}
.menu-area ul li a:after {content: ''; height: 2px; width: 0; background: #e68582; position: absolute; bottom: -5px; left: 0; right: 0; margin: auto; transition: 0.3s ease;}
.sub-menu li a:after{ display: none;}
.mini-cart-area button{ display: none;}
.drop{ display: none;}
/*end*/

/*banner area*/
.caption-area {position: absolute; left: 0; right: 0; top: 50%; transform: translate(0, -50%);}
.caption h2 {font-size: 36px; color: #e68582;}
.caption p {font-size: 23px; margin: 0; line-height: normal;}
.view-collection {display: block; background: #292929; color: #fff; font-size: 20px; max-width: 200px; text-align: center; height: 40px; line-height: 40px; margin-top: 6%; transition: 0.3s ease; border: 1px solid #292929;}
.banner-area .carousel-item img {display: block;}
.caption {background: #fff; padding: 5% 4%; max-width: 550px; animation: fadeInLeft 0.3s ease; display: none; margin-left: 5%;}
.view-collection:hover {background: transparent; color: #000;}
.carousel-item.active .caption {display: block;}
ul.carousel-indicators li:after, ul.carousel-indicators li:before {display: none;}
.carousel-indicators li {height: 10px;width: 10px;border-radius: 100px;margin: 5px 0; background: #aaa; transition: all 0.3s ease}
.carousel-indicators {flex-direction: column;top: 0;bottom: 0;margin: auto;left: 5%; width: 13px; right: inherit; align-items: center;}
.carousel-indicators li.active{ background: #e68582; height: 12px; width: 12px;}
.carousel-control-prev, .carousel-control-next{ opacity: 0; transition: all 0.3s ease}
.carousel-control-prev:hover, .carousel-control-next:hover{ opacity: 1;}
/*end*/

/*featrues area*/
.features {text-align: center; padding: 20px; transition: all 0.3s}
.features:hover {box-shadow: 0 5px 10px rgba(0,0,0,0.15);}
.features h3 {font-size: 24px;color: #000;padding: 10px 0; font-weight: normal;}
.features p {font-size: 14px;color: #000;line-height: 20px;}
.icon-img {max-width: 100px; margin: 0 auto;}
.features-area .row {align-items: flex-start;}
.features-area {padding: 5% 0;}
/*end*/

/*insta shop area*/
.shop-insta-area {padding: 0 0 50px;}
.insta-caption {position: absolute; height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; background: rgba(0,0,0,0.75); bottom: -100%; transition: all 0.3s ease;}
.shop-btn:hover {color: #fff; background: transparent; font-weight: 400;}
.shop-btn {background: #fff; display: block; width: 100px; text-align: center; height: 40px; line-height: 40px; color: #000;  text-transform: uppercase;  font-size: 18px; font-weight: 500; margin-top: 15px; transition: all 0.3s ease; border: 1px solid #fff;}
.insta-photos > img { display: block;}
.insta-photos {max-height: 300px; overflow: hidden; margin-bottom: 30px; position: relative;}
.insta-photos:hover .insta-caption {bottom: 0;}
.heading-area p {font-size: 18px;line-height: normal;color: #676767;}
.heading-area h4 {font-size: 36px;color: #e68582;}
.heading-area {text-align: center;padding-bottom: 4%;}
.load-more-btn {flex: 0 0 100%;}
.load-more-btn a {display: block;background: #000;font-size: 24px;text-transform: uppercase;color: #fff;height: 50px;line-height: 52px;max-width: 280px;text-align: center;margin: 0 auto; transition: all 0.3s ease; border:1px solid #000;}
.load-more-btn a:hover{ background: transparent; color: #000;}
/*end*/


/*subscribe area*/
.subscribe-area img {display: block;}
.subscribe-area {position: relative;}
.subscribe-area .container {position: absolute; display: flex; flex-direction: column; align-items: center;  justify-content: center; height: 100%; width: 100%; left: 0; right: 0;}
.subscribe-area h3 span {font-weight: 500;}
.subscribe-area h3 {font-size: 30px; color: #000; font-weight: 200;}
.subscribe-form input[type="submit"] {max-width: 200px;padding: 0;font-size: 24px;color: #fff;font-weight: normal;background: #000;border: 0;}
.subscribe-form input {width: calc(100% - 200px);display: block;height: 50px;border-radius: 0;padding-left: 20px;border: 0;float: left;}
.subscribe-form {position: relative;width: 100%;max-width: 72%;padding: 30px 0;}
.subscribe-form input[type="submit"]:hover, .subscribe-form input[type="submit"]:active, .subscribe-form input[type="submit"]:focus{ background: #e68582; box-shadow: none; background-image: none; outline: none;}

/*end*/

/*footer area*/
.footer-links h3 {font-size: 24px; color: #000; padding: 30px 0;}
.footer-links ul li a {display: block;color: #222;font-size: 16px; transition: 0.3s ease}
.footer-links ul li a:hover {color: #e58582;}
.footer-links ul li {display: block;line-height: 30px;}
.search-area input[type="submit"] {background: #000;border: 0;color: #fff;font-size: 18px;text-transform: uppercase; transition: all 0.3s ease}
.search-area input[type="submit"]:hover, .search-area input[type="submit"]:active, .search-area input[type="submit"]:focus{ box-shadow: none; background: #e58582;}
.search-area input {width: 100%;border-radius: 0;height: 45px;border: 0;}
.custom-footer {background: #f5f5f5;}
.social-meida {text-align: left;}
.social-meida ul li a img {max-width: 20px;}
.social-meida ul li a { display: block;}
.social-meida ul li {display: inline-block;vertical-align: middle;padding: 0 20px 0 0;}
.garment-collection h4 {line-height: normal;font-size: 18px;}
.garment-collection {background: #e58582;padding: 10px;color: #fff;line-height: normal;margin-top: 60px;}
.footer-links.colums-3 ul {column-count: 3;}
.custom-footer .col-lg-3 { border-color: #000;  border-style: solid; border-width: 0 1px 0 1px;}
.custom-footer .col-lg-3:first-child { border-color: #000;  border-style: solid; border-width: 0;}
.footer-links.social-area {margin: 0 -15px;padding: 15px;border-top: 1px solid #000;}
.footer-links {padding: 20px 0 30px;}
.copy-rights-aera p {margin: 0;}
.quick-links {text-align: right;}
.quick-links ul li a {color: #222;}
.copy-rights-aera {padding: 20px 0;border-top: 1px solid #000;}


/*end*/


/*media*/

@media(max-width:1199px){
    .menu-area ul li {display: inline-block; padding: 15px;}
    .insta-photos {max-height: 260px;}
    .subscribe-area h3 {font-size: 25px;}
}

@media(max-width:991px){
    .menu-area > ul {text-align: left;}
    .menu-area ul li {display: block; padding: 0;}
    .menu-area ul li a {display: block; border-bottom: 1px solid #292929; padding: 15px;}
    .menu-area ul li:last-child a {border: 0;}
    .menu-area ul li a:after{ bottom: -1px}
    .sub-menu {position: static;width: 100%;padding-top: 0;}
    li.menu-item-has-children:after {content: "\f107";font-family: 'FontAwesome';position: absolute;right: 0;z-index: 2;background: #292929;width: 40px;top: 0;color: #fff;text-align: center;line-height: 45px; display: none;}
    .mini-cart-area ul {display: inline-block; vertical-align: middle;}
    .mini-cart-area button {padding: 0; margin: 0;background: transparent;border: 0;font-size: 24px;vertical-align: middle; display: inline-block;}
    .insta-photos {max-height: 400px;}
    .subscribe-form input {width: calc(100% - 150px);}
    .subscribe-form input[type="submit"] {max-width: 150px;font-size: 20px;}
    .custom-footer .col-lg-3 {border-width: 0 1px 1px 1px;}
    .custom-footer .col-lg-3:first-child {border-width: 0 0px 1px 1px;}
    .menu-area {display: none;}
    .sub-menu{ display: block;}
    .features-area .col {flex: 0 0 33%;-webkit-flex: 0 0 33%;}
    .drop { display: block; height: 45px;width: 40px;position: absolute;background: #292929;text-align: center;color: #fff;line-height: 40px;top: 0;right: 0px;z-index: 1; cursor: pointer;}
    
}

@media(max-width:767px){
    
    .features-area .col {-ms-flex: 0 0 50%;flex: 0 0 50%;}
    .insta-photos {max-height: 300px;}
    .subscribe-area h3 span {display: block;}
    .subscribe-area h3 {text-align: center;}
    .subscribe-form input{ height: 40px; width: calc(100% - 110px)}
    .subscribe-form input[type="submit"] {max-width: 110px; font-size: 16px;}
    .custom-footer .col-lg-3:first-child {border-width: 0px 1px 1px 1px;}
    .quick-links {text-align: center;padding: 10px 0 0;}
    .copy-rights-aera p {text-align: center;}
}

@media(max-width:600px){
    .caption h2 {font-size: 28px;}
    .caption p {font-size: 20px; line-height: 24px;}
    .view-collection{ margin-top: 4%; font-size: 18px; width: 180px;}
    .caption {background: rgba(255,255,255,0.8); max-width: 400px;}
}

@media (max-width:574px){
    .carousel-indicators{ left: 5px;}
    .insta-photos {max-height: unset;}
    .insta-photos > img {width: 100%;}
    .subscribe-form {max-width: 100%;padding: 10px 0;}
    .subscribe-area h3 { font-size: 20px;}
    .footer-links.colums-3 ul {column-count: 2;}
    
}

@media(max-width:460px){
    .caption {padding: 10px; max-width: 320px;}
    .caption h2 {font-size: 24px;}
    .caption p {font-size: 16px; line-height: 22px;}
    .view-collection {margin-top: 10px;font-size: 16px;width: 150px;}
    .features-area .col {-ms-flex: 0 0 100%;flex: 0 0 100%;}
}

@media (max-width:400px){
    .mini-cart-area ul li {padding: 10px 5px;}
    .caption h2 {font-size: 20px;}
    .caption p {font-size: 14px;line-height: 20px;}
    .view-collection {margin-top: 10px;font-size: 14px;width: 140px;height: 35px;line-height: 35px;}
    .subscribe-form input {height: 30px;width: calc(100% - 100px); padding-left: 10px;}
    .subscribe-form input[type="submit"] {max-width: 100px;font-size: 14px;}
    .subscribe-form {padding: 10px 0 0;}
    .subscribe-area h3 {font-size: 18px;}
    .caption {max-width: 270px;margin: 0 auto;}

}

@media (max-width:360px){
    .subscribe-area h3 {font-size: 14px;}
    .footer-links.colums-3 ul {column-count: 1;}
}
/*end*/